Importing my functions.py file

In [1]:
from functions import *

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\ricca\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\ricca\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

First, I will load all the 6000 tsv files into one final dataset.

In [2]:
directory = "/Users/ricca/Desktop/ADM/files_tsv"
output_file = "/Users/ricca/Desktop/ADM-HW3/grande.tsv"
dataset = create_store_tsv(directory, output_file)

In [3]:
dataset.head(5)

,courseName,universityName,facultyName,isItFullTime,description,startDate,fees,modality,duration,city,country,administration,url
0,3D Design for Virtual Environments - MSc,Glasgow Caledonian University,School of Engineering and Built Environment,Full time,3D visualisation and animation play a role in ...,September,Please see the university website for further ...,MSc,1 year full-time,Glasgow,United Kingdom,On Campus,www.findamasters.com/masters-degrees/course/3d...
1,"Agricultural, Environmental and Resource Econo...",University of Helsinki,International Masters Degree Programmes,Full time,Goal of the pro­grammeAre you looking forward ...,September,Tuition fee per year (non-EU/EEA students): 15...,MSc,2 years,Helsinki,Finland,On Campus,www.findamasters.com/masters-degrees/course/ag...
2,Energy Policy and Finance (MSc),University of St Andrews,Interdisciplinary Studies,Full time&Part time,The MSc in Energy Ethics explores how we balan...,September,"Home£13,470Overseas£27,230",MSc,"1 year full time, 2 year part time",St Andrews,United Kingdom,On Campus,www.findamasters.com/masters-degrees/course/en...
3,Aircraft Design option - Aerospace Vehicle Des...,Cranfield University,Aerospace,Full time,Study at Cranfield UniversityTo design modern ...,"October, March",Please see the university website for further ...,MSc,See website for details,Bedford,United Kingdom,On Campus,www.findamasters.com/masters-degrees/course/ai...
4,Aircraft Engineering (MSc),Cranfield University,Aerospace,Part time,"With a projected demand for 27,000 new civil a...",February,Please see the university website for further ...,"PGDip,PGCert,MSc",See website for details,Bedford,United Kingdom,On Campus,www.findamasters.com/masters-degrees/course/ai...

Before going on, to protect the original dataset, let's create a copy of it, deleting the 21 links corrupted that gives us empty values for the variables.

In [4]:
df = dataset.copy()
print(df.shape)
df = df.dropna(subset=['courseName'], axis=0)
print(df.shape)

(6000, 13)
(5979, 13)

# 2. Search Engine
### 2.0.0 Preprocessing the text
First, you must pre-process all the information collected for each MSc by:

  * Removing stopwords
  * Removing punctuation
  * Stemming
  * Anything else you think it's needed
---

Now, as the dataset is loaded, I will apply some preprocessing to all columns. This pre-processing includes, tokenizing, standardazing the text (lower case and removing stop words), and stemming the text of all columns.

In [5]:
desired_columns = [x for x in df.columns if x != "fees"]
for column in desired_columns:
    df[column+"_clean"] = df[column].apply(lambda x: preprocessing(x))

In [6]:
df.head()

,courseName,universityName,facultyName,isItFullTime,description,startDate,fees,modality,duration,city,...,facultyName_clean,isItFullTime_clean,description_clean,startDate_clean,modality_clean,duration_clean,city_clean,country_clean,administration_clean,url_clean
0,3D Design for Virtual Environments - MSc,Glasgow Caledonian University,School of Engineering and Built Environment,Full time,3D visualisation and animation play a role in ...,September,Please see the university website for further ...,MSc,1 year full-time,Glasgow,...,"[school, engin, built, environ]","[full, time]","[visualis, anim, play, role, mani, area, popul...",[septemb],[msc],"[year, full, time]",[glasgow],"[unit, kingdom]",[campu],"[www, findamast, com, master, degre, cours, de..."
1,"Agricultural, Environmental and Resource Econo...",University of Helsinki,International Masters Degree Programmes,Full time,Goal of the pro­grammeAre you looking forward ...,September,Tuition fee per year (non-EU/EEA students): 15...,MSc,2 years,Helsinki,...,"[intern, master, degre, programm]","[full, time]","[goal, pro, grammear, look, forward, futur, ex...",[septemb],[msc],[year],[helsinki],[finland],[campu],"[www, findamast, com, master, degre, cours, ag..."
2,Energy Policy and Finance (MSc),University of St Andrews,Interdisciplinary Studies,Full time&Part time,The MSc in Energy Ethics explores how we balan...,September,"Home£13,470Overseas£27,230",MSc,"1 year full time, 2 year part time",St Andrews,...,"[interdisciplinari, studi]","[full, time, part, time]","[msc, energi, ethic, explor, balanc, energi, d...",[septemb],[msc],"[year, full, time, year, part, time]","[st, andrew]","[unit, kingdom]",[campu],"[www, findamast, com, master, degre, cours, en..."
3,Aircraft Design option - Aerospace Vehicle Des...,Cranfield University,Aerospace,Full time,Study at Cranfield UniversityTo design modern ...,"October, March",Please see the university website for further ...,MSc,See website for details,Bedford,...,[aerospac],"[full, time]","[studi, cranfield, universityto, design, moder...","[octob, march]",[msc],"[see, websit, detail]",[bedford],"[unit, kingdom]",[campu],"[www, findamast, com, master, degre, cours, ai..."
4,Aircraft Engineering (MSc),Cranfield University,Aerospace,Part time,"With a projected demand for 27,000 new civil a...",February,Please see the university website for further ...,"PGDip,PGCert,MSc",See website for details,Bedford,...,[aerospac],"[part, time]","[project, demand, new, civil, airlin, industri...",[februari],"[pgdip, pgcert, msc]","[see, websit, detail]",[bedford],"[unit, kingdom]",[campu],"[www, findamast, com, master, degre, cours, ai..."

### 2.0.1 Preprocessing the fees column
Moreover, we want the field `fees` to collect numeric information. As you will see, you scraped textual information for this attribute in the dataset: sketch whatever method you need (using regex, for example, to find currency symbol) to collect information and, in case of multiple information, retrieve only the highest fees. Finally, once you have collected numerical information, you likely will have different currencies: this can be chaotic, so let chatGPT guide you in the choice and deployment of an API to convert this column to a common currency of your choice (it can be USD, EUR or whatever you want). Ultimately, you will have a `float` column renamed `fees (CHOSEN COMMON CURRENCY)`.

-----

Now, it is time to do some preprocessing with the fees column. We have to ensure that all the fees are in Euro (decided) and the column is of dtype float. So, let's do it!

First, I will replace all the entries that are prompting to contact the university or visit webpage. Then, I will see what currency symbols have been used through out the dataset so that I can desing my regex accordingly.

In [7]:
if_website_or_contact_replace(df, "fees")
df["fees_clean"] = df["fees_clean"].apply(lambda x: "Not Available" if pd.isnull(x) else x)
symbols_list = extract_symbols(df)
symbols_list

['€', '£', '$']

Now, from all of the text in each row of the `fees` column, I will only keep the max amount and the currency name.

In [8]:
df["fees_clean"] = df["fees_clean"].apply(lambda x: extract_numeric_and_currency(x))
df.loc[:, ["fees","fees_clean"]]

                                                   fees     fees_clean
0     Please see the university website for further ...  Not Available
1     Tuition fee per year (non-EU/EEA students): 15...    15000.0 EUR
2                            Home£13,470Overseas£27,230    27230.0 GBP
3     Please see the university website for further ...  Not Available
4     Please see the university website for further ...  Not Available
...                                                 ...            ...
5995  Please see the university website for further ...  Not Available
5996  UK Fees: 2022/23 fees TBC*;2021/22 fees - 1040...    17900.0 EUR
5997  Please see the university website for further ...  Not Available
5998  Please see the university website for further ...  Not Available
5999  Please see the university website for further ...  Not Available

[5979 rows x 2 columns]

Now, I will create two more columns and use these columns to make make a new column FEE_EUR where all the fees are in EUR.

In [9]:
# Apply extraction functions to create new columns
df['numeric_value'] = df['fees_clean'].apply(extract_numeric_value)
df['currency_name'] = df['fees_clean'].apply(extract_currency_name)

In [10]:
tqdm.pandas()
def apply_convert_to_eur(row):
    return convert_to_eur(row['numeric_value'], row['currency_name'])
df['FEE_EUR'] = df.progress_apply(apply_convert_to_eur, axis=1)

100%|██████████| 5979/5979 [15:52<00:00,  6.28it/s]

Finally, I will delete the extra columns. Namely: `fees_clean`, `numeric_value`, `currency_name`

In [11]:
df.columns
columns_to_drop = ["fees_clean", "numeric_value", "currency_name"]
df = df.drop(columns=columns_to_drop)

### 2.1. Conjunctive query

#### 2.1.1 Create your index!
Before building the index,

- Create a file named `vocabulary`, in the format you prefer, that maps each word to an integer (`term_id`).

In [12]:
vocabulary = set() # set to remove duplicates and efficiency
# I will only used the description column as stated in the HW
df.description_clean.dropna().apply(lambda row: [vocabulary.add(word) for word in row])
vocabulary = list(vocabulary)

The variable vocabulary contains, in a list, all the words used in the description column. The question requires us to make a file named vocabulary that *maps each word to an integer (term_id).*

In [13]:
# maps each word to an integer (term_id)
vocab_with_index = dict()
unique_id = 0
for word in vocabulary:
  vocab_with_index[word] = unique_id
  unique_id+=1
vocab_with_index

with open("./vocabulary.json", "w") as file: # storing for reusability
    json.dump(vocab_with_index, file)

In [14]:
vocab_with_index = json.load(open("./vocabulary.json", "r")) # loading for use

Then, the first brick of your homework is to create the Inverted Index. It will be a dictionary in this format:

{
term_id_1:[document_1, document_2, document_4],
term_id_2:[document_1, document_3, document_5, document_6],
...}

To create the inverted index, I can use the procedure used in the lab as follows:

In [15]:
Terms = pd.DataFrame(data=vocab_with_index.keys(), columns=['Term']) # from lab
tqdm.pandas() # to create partial inverted index, as shown in lab
Terms['reverse'] = Terms.Term.progress_apply(lambda item: list(df[df.description_clean.apply(lambda row: isinstance(row, list) and item in row)].index))
Terms.head()
# inverted_index = dict(zip(Terms.index, Terms['reverse']))

100%|██████████| 9704/9704 [00:54<00:00, 177.47it/s]

         Term                                            reverse
0     biofuel                                     [9, 498, 2383]
1        caho                                              [273]
2  widespread                      [257, 1589, 1824, 2085, 5124]
3       stand  [742, 754, 859, 935, 978, 1133, 1318, 1357, 13...
4         der                                       [4974, 4982]

Or, I can use the function that I create to make an inverted list. Here's how:

In [16]:
inverted_index = inverted_index(vocab_with_index, df)

I will now store this inverted index locally

In [17]:
with open("./inverted_index_1.json", "w") as file: # storing for reusability
    json.dump(inverted_index, file)
inverted_index = json.load(open("./inverted_index_1.json", "r")) # loading for use

### 2.1.2 Execute the query
Given a query input by the user, for example:

`advanced knowledge`

The Search Engine is supposed to return a list of documents.

---

For this task, I will first take the input from the user and then normalize the query using the same technique I used to preprocess the description column.

In [18]:
# user_input = input("Add your Input")
user_input = "data science"
normalized_query = normalize_query(user_input)

Now, I will extract the term_id from the vocabulary with the index in order to utilize it for the inverted index

In [19]:
term_ids = get_term_id_from_query(vocab_with_index, normalized_query)

In [20]:
new_dataset = search_engine(term_ids, df, inverted_index)
new_dataset

,courseName,universityName,description
0,Digital Forensics and Cyber Investigation (wit...,Teesside University,With a clear focus on forensics and industry p...
1,Digital Forensics and Cyber Investigation MSc,Teesside University,With a clear focus on forensics and industry p...
2,Applied Analytical Chemistry MSc,University College London,Register your interest in graduate study at UC...
3,Applied Artificial Intelligence and Data Analy...,University of Bradford,*SCHOLARSHIPS AVAILABLE*This new MSc programme...
4,Environmental Data Science and Analytics - MSc,University of Leeds,As global discussions are increasingly focused...
...,...,...,...
357,Design Informatics MSc,University of Edinburgh,Programme DescriptionDesign informatics combin...
358,MSc Data Science,University of Essex Online,Start Date: OctoberUse the power of data to ma...
359,MSc Data Science,The London Institute of Banking and Finance,Advance your knowledge of data science and unl...
360,MSc Data Science and Artificial Intelligence,University of Liverpool,Pursue a career in this high-demand sector whi...
361,"Diagnostics, Data and Digital Health",University of Warwick,"Explore the design, development and applicatio..."

## 2.2 Conjunctive query & Ranking score

For the second search engine, given a query, we want to get the top-k (the choice of k it's up to you!) documents related to the query. In particular:

Find all the documents that contain all the words in the query. Sort them by their similarity with the query.

Return in output k documents, or all the documents with non-zero similarity with the query when the results are less than k. You must use a heap data structure (you can use Python libraries) for maintaining the top-k documents.

To solve this task, you must use the tfIdf score and the Cosine similarity. The field to consider is still the description.

##### 2.2.1 Make an Inverted index

Below, I will make an inverted index which contains as keys the unique term_id of the word, and as values, its corresponding occurences and tf-idf values in the dataset's row.

In [21]:
# will help with the search engine and inverted index. It contains as keys the words and as values a list which 
# represents the occurences of that word in our dataset
word_and_appearances = dict(zip(Terms["Term"], Terms['reverse']))

# Our inverted_index with tf-idf value as well.
inverted_index_tf_idf = inverted_index_tfidf(word_and_appearances, df)

In [22]:
with open("./inverted_index_tfidf.json", "w") as file: # storing for reusability
    json.dump(inverted_index, file)
inverted_index = json.load(open("./inverted_index_tfidf.json", "r")) # loading for use

#### 2.2.2 Execute the query
In this new setting, given a query, you get the proper documents (i.e., those containing all the query's words) and sort them according to their similarity to the query. For this purpose, as the scoring function, we will use the Cosine Similarity concerning the tfIdf representations of the documents.

---

First, I will take the user input and normalize it.

In [23]:
# user_input = "input("Add your Input")"
user_input = "data science"
normalized_query = normalize_query(user_input)
normalized_query

['data', 'scienc']

I will now compute the intersection list of query and documents.

In [24]:
term_ids = get_term_id_from_query(vocab_with_index, normalized_query)
appearances = list()
[appearances.append(inverted_index[str(term)]) for term in term_ids]
# initialising the set with the value of the first list of appearances in the list of appearances of the word
intersection_list = set(appearances[0])
for appearance in appearances[1:]: # for the rest of the terms in the list of term ids
    intersection_list.intersection_update(appearance)
intersection_list = sorted(list(intersection_list))
intersection_list

[62,
 67,
 68,
 70,
 77,
 92,
 99,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 114,
 115,
 116,
 117,
 118,
 124,
 165,
 171,
 209,
 213,
 240,
 243,
 249,
 250,
 252,
 253,
 254,
 267,
 324,
 334,
 337,
 353,
 355,
 423,
 486,
 487,
 495,
 518,
 524,
 526,
 527,
 531,
 532,
 533,
 535,
 536,
 537,
 631,
 646,
 670,
 721,
 736,
 739,
 757,
 771,
 772,
 773,
 789,
 807,
 838,
 1000,
 1012,
 1187,
 1201,
 1212,
 1242,
 1302,
 1303,
 1305,
 1306,
 1326,
 1328,
 1361,
 1362,
 1398,
 1399,
 1402,
 1404,
 1408,
 1412,
 1419,
 1421,
 1425,
 1451,
 1455,
 1458,
 1462,
 1476,
 1556,
 1720,
 1729,
 1756,
 1763,
 1764,
 1765,
 1766,
 1768,
 1769,
 1771,
 1773,
 1774,
 1775,
 1776,
 1783,
 1784,
 1785,
 1788,
 1789,
 1791,
 1792,
 1793,
 1794,
 1795,
 1796,
 1797,
 1798,
 1799,
 1800,
 1802,
 1803,
 1804,
 1805,
 1806,
 1807,
 1808,
 1809,
 1810,
 1813,
 1814,
 1815,
 1816,
 1817,
 1818,
 1819,
 1820,
 1821,
 1822,
 1824,
 1825,
 1826,
 1828,
 1829,
 1830,
 1831,
 1832,
 1833,
 1835,
 1836,
 1837,
 1838,
 1839,
 1840,
 1841,
 1843,
 1844,
 1847,
 1848,
 1849,
 1850,
 1851,
 1853,
 1855,
 1857,
 1858,
 1859,
 1860,
 1861,
 1862,
 1863,
 1864,
 1865,
 1866,
 1868,
 1869,
 1870,
 1871,
 1872,
 1873,
 1874,
 1875,
 1876,
 1877,
 1879,
 1880,
 1881,
 1883,
 1884,
 1885,
 1886,
 1887,
 1888,
 1891,
 1892,
 1893,
 1894,
 1895,
 1896,
 1897,
 1898,
 1899,
 1900,
 1902,
 1905,
 1906,
 1907,
 1916,
 1918,
 1973,
 1989,
 2001,
 2012,
 2029,
 2079,
 2080,
 2190,
 2192,
 2218,
 2233,
 2234,
 2236,
 2237,
 2238,
 2239,
 2240,
 2241,
 2244,
 2284,
 2285,
 2310,
 2317,
 2320,
 2478,
 2534,
 2693,
 2772,
 2787,
 2788,
 2872,
 2936,
 3016,
 3022,
 3032,
 3055,
 3074,
 3156,
 3280,
 3282,
 3284,
 3294,
 3298,
 3299,
 3301,
 3303,
 3310,
 3311,
 3312,
 3313,
 3329,
 3330,
 3348,
 3349,
 3350,
 3351,
 3352,
 3386,
 3483,
 3512,
 3554,
 3555,
 3558,
 3559,
 3560,
 3561,
 3562,
 3563,
 3565,
 3566,
 3567,
 3596,
 3683,
 3714,
 3723,
 3813,
 3832,
 3884,
 4211,
 4223,
 4418,
 4464,
 4468,
 4555,
 4604,
 4609,
 4611,
 4638,
 4659,
 4897,
 4906,
 4933,
 4953,
 4973,
 4975,
 4976,
 5019,
 5066,
 5095,
 5206,
 5248,
 5250,
 5266,
 5275,
 5276,
 5277,
 5279,
 5281,
 5285,
 5286,
 5287,
 5296,
 5297,
 5313,
 5316,
 5320,
 5321,
 5322,
 5332,
 5333,
 5334,
 5335,
 5336,
 5337,
 5356,
 5361,
 5371,
 5384,
 5422,
 5444,
 5465,
 5541,
 5542,
 5577,
 5645,
 5656,
 5668,
 5690,
 5701,
 5703,
 5704,
 5710,
 5711,
 5714,
 5719,
 5720,
 5732,
 5757,
 5797,
 5902,
 5991]

Lets now get the tf idf of the query

In [25]:
query_tfidf = calculate_query_tfidf(normalized_query, word_and_appearances, df)
query_tfidf

{'data': 1.04, 'scienc': 0.74}

In [26]:
similarity_scores = {}
for document_i in intersection_list:
    document_vector = df.at[document_i, "description_clean"] # getting the document vector at the row of interest
    # calculated the tf_idf of the document vector. It will result in words as keys and values as tf-idf scores
    document_tfidf = calculate_document_tfidf(document_vector, word_and_appearances, df) 
    # Compute cosine similarity
    dot_product = 0
    for word in normalized_query:
        if word in document_tfidf:
# computing the dot product of only the query's tfidf score and the tfidf score of that word in the document
            dot_product += query_tfidf[word] * document_tfidf[word] 
    
    norm_doc_i = np.linalg.norm(list(document_tfidf.values())) # computing norm of the doc vector
    norm_query = np.linalg.norm(list(query_tfidf.values()) )# computing norm of the query vector
    
    if norm_doc_i != 0 and norm_query != 0: # only the non zero results
        cosine_similarity_doc_i_query = dot_product / (norm_doc_i * norm_query)
        similarity_scores[document_i] = cosine_similarity_doc_i_query

Using heap data structure to retrieve top 10 similarity scores:

In [27]:
top_10_documents = heapq.nlargest(10, similarity_scores, key=similarity_scores.get)

Finally, bringing the result of the query search.

In [28]:
results = return_results(top_10_documents, similarity_scores, df)
pd.set_option("display.max_colwidth", None)
results

,courseName,universityName,description,Cosine_Similarity
0,"Data Science and its Applications, MSc",University of Greenwich,"Our MSc degree in Data Science and its Applications is designed to provide you with a solid grounding in data science theory and practice.Enter the exciting world of data science whatever your academic background! Our MSc in Data Science and its Applications course has been designed to increase the skilled workforce and diversity in qualified data science experts in the UK market. The programme is tailored to transform professionals from a wide range of backgrounds into accomplished data scientists who are well-placed to enhance their existing careers with an expansive set of data science skills, to move fully into data science roles, or to pursue further data science specialisations.",0.706323
1,Data Science - Master of Science (MS),University of Colorado Boulder,"The on-campus Master of Science in Data Science program focuses on developing knowledge and skills in interdisciplinary and collaborative data science competencies including statistical analysis, data structures and algorithms, data mining, machine learning, big data architecture and data visualization.Data science is a multidisciplinary field that focuses on the extraction of knowledge and insight from large datasets. Data scientists are tasked with using a range of skills in applied mathematics, statistics and computer science, and in domain applications such as information science, geography, business, media and the humanities.",0.627953
2,Data Science MSc,University of Greenwich,"Our MSc in Data Science equips graduates to embark on highly skilled careers in data science, artificial intelligence and machine learning.This specialist Master's in Data Science provides a theoretical knowledge of data science alongside the practical skills that will help you prosper in the jobs market.You'll be exposed to a broad range of topics such as data science, statistics, specialist programming, machine learning and data visualisation.",0.614736
3,Data Science - MSc/PgD/PgC,Cardiff Metropolitan University,"This Master's degree in Data Science is an industry-relevant and popular postgraduate programme of study. Data Science and ""Big Data"" are more important than ever. Graduates trained to garner insights from large data sets, extract patterns and provide actionable information to solve real-world problems are sought after in both the private and public sector.This course will equip you with in-demand theoretical knowledge and practical skills to develop data science systems, use software to analyse and synthesise data, and manage all aspects of data science.Course ContentCompulsory",0.560065
4,Big Data Science and Technology - MSc,University of Bradford,"Develop the skills you need for a career in this fast emerging field of data science.This programme will deepen your understanding of advanced software development, systems for big data analytics, statistical data analysis, data mining, data privacy and security, data visualisation and exploration.It is an interdisciplinary programme, designed for students with a first degree in subjects such as:",0.548488
5,Data Science MSc,Coventry University,"Data is everywhere. As the volume and complexity of data collected continues to grow, there is increasing demand for expertise in data science to support the analysis and visualisation of all this information.The MSc Data Science is a conversion course for graduates from a wide range of disciplines and backgrounds looking to pursue a career, or upskill, in this new and rapidly developing field. Data Scientists are in short supply and there is high demand for data science skills across sectors including business, government, healthcare, science, finance, and marketing.",0.541314
6,Data Science MSc,University of Southampton,"Become a proficient data scientist with a master’s in Data Science at the University of Southampton.You’ll study the latest techniques and technologies, including data mining, machine learning, and data visualisation. By the end of your studies, you’ll be able to develop original ideas and solve problems using advanced data science methods. You can apply what you have learned in fields such as data journalism, open government and social media.",0.522204
7,Data Science - MSc,University of Glasgow,"The Masters in Data Science is a specialist version of the MSc (Computing Science) which will provide you with a thorough grounding in the analysis and use of large data sets together with experience of conducting a substantial development or research project focused on Data Science techniques, preparing you for responsible positions in the Big Data and IT industries.",0.518929
8,Master of Science in Data Science and Business Analytics (ODL) - 100% ONLINE,Asia Pacific University of Technology & Innovation (APU),"This programme is specifically designed to provide:Knowledge and applied skills in data science, big data analytics and business intelligence.Overall understanding of the impact of data science upon modern processes and business.Exposure towards data science tools and techniques, as well as methods of data collection and utilization, to turn data into useful information via various processes.Joint Professional Certification by TIBCO Software",0.514846
9,Data Science MSc,University of Chester,"A conversion Master’s degree in Data Science, to enable students to make the leap to the fast-growing area of data science.Course overviewThe Data Science Master’s degree is aimed at people who have a technical, mathematical, or engineering background who want to develop their skills into the field of data science. Students who have worked in one of these areas but do not process a degree in the area are welcome to apply.Why study this course with us?The Data Science course is within the Department of Computer Science, who are a forward-thinking innovative department.We work with employers to tailor the course to real-world needs, giving students an in-depth knowledge in the area.",0.513056

# 3. Define a new score!

Now it's your turn: build a new metric to rank MSc degrees.

Practically:

- The user will enter a text query. As a starting point, get the query-related documents by exploiting the search engine of Step 2.1.
- Once you have the documents, you need to sort them according to your new score. In this step, you won't have any more to take into account just the description field of the documents; you can use also the remaining variables in your dataset (or new possible variables that you can create from the existing ones or scrape again from the original web-pages). You must use a heap data structure (you can use Python libraries) for maintaining the top-k documents.

N.B.: You have to define a scoring function, not a filter!

The output, must contain:

- `courseName`
- `universityName`
- `description`
- `URL`
- The new `similarity score` of the documents with respect to the query

Are the results you obtain better than with the previous scoring function? Explain and compare results.

---

The idea behind the development of the new scoring function is an extension of the concept introduced in *Q2.2* to encompass other variables. This involves assigning varying weights based on the input query. This approach is motivated by the understanding that a user may have diverse interests when searching for information, such as specifying a city, a university name, or the course name. In such cases, if the query aligns with one of these specific variables, it is deemed to be more significant than others. This allows for a more nuanced and personalized scoring system tailored to the user's preferences and priorities.

Initially, we developed a function to efficiently compute weights based on whether the query matches any of the variables. Emphasis is given to the variable that matches at least a word of the input query, assigning higher importance to that specific variable.

After that we use the 'fuzzywuzzy' package, importing Levenshtein Distance, to calculate the similarity between the query and the variable value for each one of them.

In [55]:
user_query = "data science" 
normalized_query = normalize_query(user_query)
term_ids = get_term_id_from_query(vocab_with_index, normalized_query)
new_dataset = search_engine_full(term_ids, df, inverted_index)
# Let's start from the smaller_dataset derived from the engine.py

user_query_2 = "data science lancaster" # input user query

weights = calculate_weights(user_query_2, new_dataset) # computes the weights taking in input a second more specific query

# add the new_score as a new column of the df
new_dataset['score'] = new_dataset.apply(lambda row: calculate_total_score(user_query_2, row, weights), axis=1)

heap = []
for index, row in new_dataset.iterrows():
    heapq.heappush(heap, (-row['score'], index))

# Extract results
sorted_indices = [heapq.heappop(heap)[1] for _ in range(len(heap))]

# Create new df sorted
sorted_df = new_dataset.loc[sorted_indices]
k = 5 # k-top elements sorted by the new score
sorted_df[['courseName', 'universityName', 'description', 'score']].head(k)

,courseName,universityName,description,score
330,Data Science MSc,Lancaster University,"From business and finance to health and medicine, from infrastructure to societal studies, data science plays a vital role in all aspects of the modern world. Our MSc programme will ensure you have an advanced level of skills, knowledge, and experience in this rapidly expanding, highly in-demand field to achieve your career aspirations.",0.428696
267,Data Science - MSc,Lancaster University,"From business and finance to health and medicine, from infrastructure to societal studies, data science plays a vital role in all aspects of the modern world. Our MSc programme will ensure you have an advanced level of skills, knowledge, and experience in this rapidly expanding, highly in-demand field to achieve your career aspirations.",0.411304
211,Health Data Science MSc,Lancaster University,"Deep statistical thinking combined with expertise in health and computer science is becoming increasingly fundamental in tackling public health problems across the world. The MSc in Health Data Science will equip you with advanced technical skills which will allow you to develop a career as a data-scientist in the health and care sector.The MSc in Health Data Science, consists of an initial set of 4 core modules: “Statistical methods and models for health research”, “Programming for Health Data Science”, “Fundamentals for Health Data Science” and “Introduction to applied epidemiology”. These will allow you to develop and consolidate foundational skills in the three main areas of Health Data Science: epidemiology, statistics and computer science.",0.401739
210,Health Data Science MSc,Lancaster University,"Deep statistical thinking combined with expertise in health and computer science is becoming increasingly fundamental in tackling public health problems across the world. The MSc in Health Data Science will equip you with advanced technical skills which will allow you to develop a career as a data-scientist in the health and care sector.The MSc in Health Data Science, consists of an initial set of 4 core modules: “Statistical methods and models for health research”, “Programming for Health Data Science”, “Fundamentals for Health Data Science” and “Introduction to applied epidemiology”. These will allow you to develop and consolidate foundational skills in the three main areas of Health Data Science: epidemiology, statistics and computer science.",0.397391
327,Data Science MSc,Northumbria University,"This exciting Data Science master's has been designed by top academics in the field, in close consultation with leading data scientists from the industry and the Northumbria University Institute of Coding (IoC). It will provide you with the relevant skills needed to analyse, synthesise and manage different types and sizes of data efficiently.This programme is designed to train and produce data scientists who will fill a range of jobs requiring skills in methodical and statistical data analysis and help organisations (e.g., businesses, healthcare providers, financial institutions, industries) make the most of their huge amounts of data. You will develop knowledge insight from a variety of structured and unstructured data, using a range of data analysis methods, processes, algorithms, and systems.",0.392174

After several attempts, it can be concluded that the new similarity score yields more robust results and is more versatile compared to cosine similarity. This improvement stems from the consideration of additional variables, along with the analysis of the user query to gain insights into the user's search intent. This assumption is grounded in the idea that the user formulates queries with the intention of obtaining the most relevant results from the database, prioritizing them for easier visualization.

As we can also see in the output above, focusing solely on the '*description*' variable (as in Q2.2) can lead to biased results that may not align with the input query. Conversely, the new scoring approach demonstrates a more meaningful and relevant outcome.

Moreover, the utilization of Levenshtein distance as a string metric proves to be highly beneficial for quantifying the dissimilarity between two sequences, especially when they exhibit similarities. Informally, the Levenshtein distance between two words represents the minimum number of single-character edits (insertions, deletions, or substitutions) required to transform one word into the other. We opted for this measure precisely because, quite often, the input may contain errors such as missing or extra letters or concatenated words. The Levenshtein measure exhibits remarkable robustness in accommodating these variations.

# 4. Visualizing the most relevant MSc degrees


Using maps can help people understand how far one university is from another so they can plan their academic careers more adequately. Here, we challenge you to show a map of the courses found with the score defined in point 3. You should be able to identify at least the city and country for each MSc degree. You can find some ideas on how to create maps in Python [here](https://plotly.com/python/maps/) and [here](https://towardsdatascience.com/visualizing-geospatial-data-in-python-e070374fe621) but you will maybe need further information for a proper visualization, like coordinates (latitude and longitude). You can retrieve this data using various tools:

1. [Here](https://medium.com/@manilwagle/geocoding-the-world-using-google-api-and-python-1f6b6fb6ca48) you can find a helpful tutorial on how to encode geo-informations using Google API in Python (this tool can also be used in Google Sheets)
2. You can collect a list of unique places in the format (City, Country) and ask chatGPT (or, as usual, any other LLM chatbot) to provide you with a list of corresponding representative coordinates
3. Explore and find the best solution for your case!
Once you defined your visualization strategy, include a way to encode fees in your charts. The map should show (with a proper legend) different courses and associated taxation: the user wants a glimpse not only of how far he will need to move but also of how much it will cost him!

---

Let's start by creating a new column with the full address (universityName, city, country), as suggested in the links above.

In [30]:
k = 100
sorted_df['full_address'] = sorted_df['universityName'] + ", " + sorted_df['city'] + ", " + sorted_df['country']
sorted_df.head(k)

,courseName,universityName,facultyName,city,country,description,FEE_EUR,score,full_address
330,Data Science MSc,Lancaster University,Department of Mathematics and Statistics,Lancaster,United Kingdom,"From business and finance to health and medicine, from infrastructure to societal studies, data science plays a vital role in all aspects of the modern world. Our MSc programme will ensure you have an advanced level of skills, knowledge, and experience in this rapidly expanding, highly in-demand field to achieve your career aspirations.",None,0.421818,"Lancaster University, Lancaster, United Kingdom"
211,Health Data Science MSc,Lancaster University,Lancaster Medical School,Lancaster,United Kingdom,"Deep statistical thinking combined with expertise in health and computer science is becoming increasingly fundamental in tackling public health problems across the world. The MSc in Health Data Science will equip you with advanced technical skills which will allow you to develop a career as a data-scientist in the health and care sector.The MSc in Health Data Science, consists of an initial set of 4 core modules: “Statistical methods and models for health research”, “Programming for Health Data Science”, “Fundamentals for Health Data Science” and “Introduction to applied epidemiology”. These will allow you to develop and consolidate foundational skills in the three main areas of Health Data Science: epidemiology, statistics and computer science.",None,0.414545,"Lancaster University, Lancaster, United Kingdom"
267,Data Science - MSc,Lancaster University,School of Computing and Communications,Lancaster,United Kingdom,"From business and finance to health and medicine, from infrastructure to societal studies, data science plays a vital role in all aspects of the modern world. Our MSc programme will ensure you have an advanced level of skills, knowledge, and experience in this rapidly expanding, highly in-demand field to achieve your career aspirations.",None,0.409091,"Lancaster University, Lancaster, United Kingdom"
52,"Economics, Finance and Data Analysis MSc",Lancaster University,Department of Economics,Lancaster,United Kingdom,"Are you passionate about the dynamic fields of economics and finance and intrigued by the power of data analysis? The Master of Science (MSc) in Economics, Finance, and Data Analysis at Lancaster University is a cutting-edge programme designed to equip you with the knowledge, skills, and tools to thrive in the rapidly evolving world of financial analysis and decision-making.",None,0.394545,"Lancaster University, Lancaster, United Kingdom"
210,Health Data Science MSc,Lancaster University,Division of Health Research,Lancaster,United Kingdom,"Deep statistical thinking combined with expertise in health and computer science is becoming increasingly fundamental in tackling public health problems across the world. The MSc in Health Data Science will equip you with advanced technical skills which will allow you to develop a career as a data-scientist in the health and care sector.The MSc in Health Data Science, consists of an initial set of 4 core modules: “Statistical methods and models for health research”, “Programming for Health Data Science”, “Fundamentals for Health Data Science” and “Introduction to applied epidemiology”. These will allow you to develop and consolidate foundational skills in the three main areas of Health Data Science: epidemiology, statistics and computer science.",None,0.392727,"Lancaster University, Lancaster, United Kingdom"
...,...,...,...,...,...,...,...,...,...
264,Data Science - MSc,University of Helsinki,International Masters Degree Programmes,Helsinki,Finland,"Goal of the pro­grammeData science combines computer science and statistics to solve exciting data-intensive problems in industry and in many fields of science. Data scientists help organisations make sense of their data. As data is collected and analysed in all areas of society, demand for professional data scientists is high and will grow higher. The emerging Internet of Things, for instance, will produce a whole new range of problems and opportunities in data analysis.",None,0.305455,"University of Helsinki, Helsinki, Finland"
358,MSc Data Science,University of Essex Online,Online Masters Degree Programmes,Colchester,United Kingdom,"Start Date: OctoberUse the power of data to make thoughtful decisions and take impactful actions with our innovative conversion degree. This 100% online and part-time degree will provide individuals that don’t have a background in computer science with the skills to work professionally in this highly sought-after industry.This online MSc Data Science will enable you to unlock the tools needed to collect and analyse data, as well as the skills required to implement this valuable knowledge in real-world scenarios. You will be given the opportunity to explore a broad range of topics and take part in collaborative projects designed to demonstrate the reality of working within this fast-paced field.",None,0.305455,"University of Essex Online, Colchester, United Kingdom"
282,Data Science (MSc),University of Trento,EIT Digital Master School - University of Trento,Trento,Italy,"Big Data can provide important insights into business processes and uncover opportunities to cut costs and increase efficiency. Furthermore, data analytics enables organisations to effectively target specific audiences and to adapt product characteristics based on customer preferences. It can also be used to improve the decision-making process.Yet, despite the immense potential of Big Data, many companies are blind to the value of the data they create. It is time for that to change - and our Data Science programme equips you with the skills to drive this change.",None,0.305455,"University of Trento, Trento, Italy"
315,Data Science and Statistics (MSc),University of Bath,Department of Computer Science,Bath,United Kingdom,"Develop a strong foundation in the theory and practice of data science, and learn specialist skills in statistics ready for a career in industry.Data science is increasingly important to the global economy and is influencing scientific progress across numerous fields from bioscience, to energy and telecommunications. We'll provide you with the tools to become an industry expert with a strong mathematical foundation.",None,0.304545,"University of Bath, Bath, United Kingdom"
320,Data Science for Economics MSc,University of Liverpool,Liverpool Management School,Liverpool,United Kingdom,"MSc Data Science for Economics is an excellent opportunity for students who wish to pursue a career requiring a sophisticated understanding of the way data is used in businesses and utilising state-of-the-art analytical skills to solve problems.INTRODUCTIONData is everywhere in the modern economy and businesses are seeking talented new recruits to leverage it. The ability to extract, handle, and analyse large amounts of data is a key skill at the modern company to unlock the potential of firms.",None,0.304545,"University of Liverpool, Liverpool, United Kingdom"

In [31]:
# Load the required libraries
import pandas as pd
# from pandas_profiling import ProfileReport
from googlemaps import Client as GoogleMaps
import googlemaps
import gmaps
from keplergl import KeplerGl
import geopandas as gpd

gmaps = googlemaps.Client(key='') # API key obtained from Google

In [32]:
addresses1= sorted_df.iloc[:,-1:]
addresses1.head(10)

                                                        full_address
330                  Lancaster University, Lancaster, United Kingdom
211                  Lancaster University, Lancaster, United Kingdom
267                  Lancaster University, Lancaster, United Kingdom
52                   Lancaster University, Lancaster, United Kingdom
210                  Lancaster University, Lancaster, United Kingdom
90                   Lancaster University, Lancaster, United Kingdom
40                   Newcastle University, Newcastle, United Kingdom
276                        Eotvos Lorand University, Hatvan, Hungary
213                      Swansea University, Swansea, United Kingdom
252  Canterbury Christ Church University, Canterbury, United Kingdom

In [33]:
addresses1['long'] = ""
addresses1['lat'] = ""

C:\Users\ricca\AppData\Local\Temp\ipykernel_33928\225855930.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  addresses1['long'] = ""
C:\Users\ricca\AppData\Local\Temp\ipykernel_33928\225855930.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  addresses1['lat'] = ""

In [ ]:
for x in range(len(addresses1)):
    geocode_result = gmaps.geocode(addresses1['full_address'][x])
    addresses1['lat'][x] = geocode_result[0]['geometry']['location'] ['lat']
    addresses1['long'][x] = geocode_result[0]['geometry']['location']['lng']

In [ ]:
addresses1

                                        full_address       long        lat
330  Lancaster University, Lancaster, United Kingdom  -2.787729  54.010394
211  Lancaster University, Lancaster, United Kingdom  -2.787729  54.010394
267  Lancaster University, Lancaster, United Kingdom  -2.787729  54.010394
52   Lancaster University, Lancaster, United Kingdom  -2.787729  54.010394
210  Lancaster University, Lancaster, United Kingdom  -2.787729  54.010394
..                                               ...        ...        ...
107                            WHU, Koblenz, Germany   7.613507  50.400325
166                        UBIS, Geneva, Switzerland   6.143158  46.204391
25                       KAUST, Thuwal, Saudi Arabia  39.118744  22.300369
351                    The New School, New York, USA -73.997136  40.735492
143          Trinity College Dublin, Dublin, Ireland  -6.254572  53.343793

[362 rows x 3 columns]

In [ ]:
addresses1['lat'] += np.random.normal(-0.005, 0.005, len(addresses1))
addresses1['long'] += np.random.normal(-0.005, 0.005, len(addresses1))
addresses1

C:\Users\ricca\AppData\Local\Temp\ipykernel_13332\2526484117.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  addresses1['lat'] += np.random.normal(-0.005, 0.005, len(addresses1))
C:\Users\ricca\AppData\Local\Temp\ipykernel_13332\2526484117.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  addresses1['long'] += np.random.normal(-0.005, 0.005, len(addresses1))

                                        full_address       long        lat
330  Lancaster University, Lancaster, United Kingdom  -2.786159  54.012837
211  Lancaster University, Lancaster, United Kingdom  -2.794961  54.003887
267  Lancaster University, Lancaster, United Kingdom  -2.794469  54.003457
52   Lancaster University, Lancaster, United Kingdom  -2.789199  53.996818
210  Lancaster University, Lancaster, United Kingdom  -2.798426  54.012156
..                                               ...        ...        ...
107                            WHU, Koblenz, Germany   7.613469  50.398086
166                        UBIS, Geneva, Switzerland   6.135018  46.196808
25                       KAUST, Thuwal, Saudi Arabia  39.108948  22.297928
351                    The New School, New York, USA -73.993419  40.728578
143          Trinity College Dublin, Dublin, Ireland  -6.257048  53.339528

[362 rows x 3 columns]

In [ ]:
# Lets join the results with original file
sorted_df['Lat']=addresses1['lat']
sorted_df['Lon']= addresses1['long']
sorted_df.head()

,courseName,universityName,facultyName,city,country,description,FEE_EUR,score,full_address,Lat,Lon
330,Data Science MSc,Lancaster University,Department of Mathematics and Statistics,Lancaster,United Kingdom,"From business and finance to health and medicine, from infrastructure to societal studies, data science plays a vital role in all aspects of the modern world. Our MSc programme will ensure you have an advanced level of skills, knowledge, and experience in this rapidly expanding, highly in-demand field to achieve your career aspirations.",None,0.421818,"Lancaster University, Lancaster, United Kingdom",54.012837,-2.786159
211,Health Data Science MSc,Lancaster University,Lancaster Medical School,Lancaster,United Kingdom,"Deep statistical thinking combined with expertise in health and computer science is becoming increasingly fundamental in tackling public health problems across the world. The MSc in Health Data Science will equip you with advanced technical skills which will allow you to develop a career as a data-scientist in the health and care sector.The MSc in Health Data Science, consists of an initial set of 4 core modules: “Statistical methods and models for health research”, “Programming for Health Data Science”, “Fundamentals for Health Data Science” and “Introduction to applied epidemiology”. These will allow you to develop and consolidate foundational skills in the three main areas of Health Data Science: epidemiology, statistics and computer science.",None,0.414545,"Lancaster University, Lancaster, United Kingdom",54.003887,-2.794961
267,Data Science - MSc,Lancaster University,School of Computing and Communications,Lancaster,United Kingdom,"From business and finance to health and medicine, from infrastructure to societal studies, data science plays a vital role in all aspects of the modern world. Our MSc programme will ensure you have an advanced level of skills, knowledge, and experience in this rapidly expanding, highly in-demand field to achieve your career aspirations.",None,0.409091,"Lancaster University, Lancaster, United Kingdom",54.003457,-2.794469
52,"Economics, Finance and Data Analysis MSc",Lancaster University,Department of Economics,Lancaster,United Kingdom,"Are you passionate about the dynamic fields of economics and finance and intrigued by the power of data analysis? The Master of Science (MSc) in Economics, Finance, and Data Analysis at Lancaster University is a cutting-edge programme designed to equip you with the knowledge, skills, and tools to thrive in the rapidly evolving world of financial analysis and decision-making.",None,0.394545,"Lancaster University, Lancaster, United Kingdom",53.996818,-2.789199
210,Health Data Science MSc,Lancaster University,Division of Health Research,Lancaster,United Kingdom,"Deep statistical thinking combined with expertise in health and computer science is becoming increasingly fundamental in tackling public health problems across the world. The MSc in Health Data Science will equip you with advanced technical skills which will allow you to develop a career as a data-scientist in the health and care sector.The MSc in Health Data Science, consists of an initial set of 4 core modules: “Statistical methods and models for health research”, “Programming for Health Data Science”, “Fundamentals for Health Data Science” and “Introduction to applied epidemiology”. These will allow you to develop and consolidate foundational skills in the three main areas of Health Data Science: epidemiology, statistics and computer science.",None,0.392727,"Lancaster University, Lancaster, United Kingdom",54.012156,-2.798426

In [ ]:
sorted_df['FEE_EUR'][sorted_df['FEE_EUR'].isnull()] = np.NaN
sorted_df['FEE_EUR'] = sorted_df['FEE_EUR'].astype(float)
sorted_df['FEE_EUR'].dropna().apply(round, 3)

C:\Users\ricca\AppData\Local\Temp\ipykernel_13332\120655320.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sorted_df['FEE_EUR'][sorted_df['FEE_EUR'].isnull()] = np.NaN
C:\Users\ricca\AppData\Local\Temp\ipykernel_13332\120655320.py:3: FutureWarning: the convert_dtype parameter is deprecated and will be removed in a future version.  Do ``ser.astype(object).apply()`` instead if you want ``convert_dtype=False``.
  sorted_df['FEE_EUR'].dropna().apply(round, 3)

Series([], Name: FEE_EUR, dtype: float64)

In [ ]:
# Create a basemap 
maps = KeplerGl(height=600, width=800) # show the map
# Create a gepdataframe
gdf = gpd.GeoDataFrame(sorted_df, geometry=gpd.points_from_xy(sorted_df.Lon, sorted_df.Lat)) # Add data to Kepler
map_2 = KeplerGl(height=400, data={"data_1": gdf})
map_2

User Guide: https://docs.kepler.gl/docs/keplergl-jupyter
User Guide: https://docs.kepler.gl/docs/keplergl-jupyter

C:\Users\ricca\AppData\Roaming\Python\Python311\site-packages\jupyter_client\session.py:719: UserWarning: Message serialization failed with:
Out of range float values are not JSON compliant
Supporting this message is deprecated in jupyter-client 7, please make sure your message is JSON-compliant
  content = self.pack(content)

KeplerGl(data={'data_1':                                              courseName  \
330                       …

In [ ]:
map_2.save_to_html(file_name="map_courses.html")

Map saved to map_courses.html!

######## MISSING COMMENTS ########

# 5. BONUS: More complex search engine

IMPORTANT: This is a bonus step, so it's not mandatory. You can get the maximum score also without doing this. We will take this into account, only if the rest of the homework has been completed.

For the Bonus part, we want to ask you more sophisticated search engine. Here we want to let users issue more complex queries. The options of this new search engine are:

1. Give the possibility to specify queries for the following features (the user should have the option to issue none or all of them):
- `courseName`
- `universityName`
- `universityCity`
2. Specify a range for the fees to retrieve only MSc whose taxation is in that range.

3. Specify a list of countries which the search engine should only return the courses taking place in city within those countries.
4. Filter based on the courses that have already started.
5. Filter based on the presence of online modality.
Note 1: You should be aware that you should give the user the possibility to select any of the abovementioned options. How should the user use the options? We will accept any manual that you provide to the user.

Note 2: As you may have realized from 1st option, you need to build inverted indexes for those values and return all of the documents that have the similarity more than 0 concerning the given queries. Choose a logical way to aggregate the similarity coming from each of them and explain your idea in detail.

Note 3: The options other than 1st one can be considered as filtering criteria so the retrieved documents must respect all of those filters.

The output must contain the following information about the places:

- `courseName`
- `universityName`
- `url`